* {
    margin: 0 auto;
}

th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: bold;
    border: solid 1px #666666;
    width: 6rem;
    text-align: center;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: normal;
    border: solid 1px #666666;
    width: 6rem;
    text-align: right;
}

#content{
    width: 1000px;
    background-color: beige;

}

.header{
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    background: #4f6d7a;
    color: beige;
    font-size: 3rem;
}

