<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>US Births</title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/foundation.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
	<script type="application/javascript">
		function ChangePageNext() {
			let year = 0;
			let day = "";
			let week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
			if (window.location.pathname.includes('year')) {
				year = parseInt(window.location.pathname.substring(6, 10));
				year += 1;
				if (year === 2015) {
					year = 2000;
				}
				window.location.href = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/year/" + year;
			}
			if (window.location.pathname.includes('day')) {
				day = window.location.pathname.substring(5, window.location.pathname.length);
				console.log(day);
				let index = week.indexOf(day.toString()) + 1;
				if (index === week.length) {
					index = 0;
				}
				window.location.href = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/day/" + week[index];
			}
		}
		function ChangePagePrev() {
			let year = 0;
			let day = "";
			let week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
			if (window.location.pathname.includes('year')) {
				year = parseInt(window.location.pathname.substring(6, 10));
				year -= 1;
				if (year === 1999) {
					year = 2014;
				}
				window.location.href = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/year/" + year;
			}
			if (window.location.pathname.includes('day')) {
				day = window.location.pathname.substring(5, window.location.pathname.length);
				let index = week.indexOf(day.toString()) - 1;
				if (index < 0) {
					index = 6;
				}
				window.location.href = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/day/" + week[index];
			}
		}
	</script>
</head>
<body>
	<div class = "header"> US Births
		<div>
			<a href="http://localhost:8000/year/2000">Filter by Year</a>
			<a href="http://localhost:8000/year/2003">Filter by Month</a>
			<a href="http://localhost:8000/day/monday">Filter by Day</a>
		</div>
	</div>
	<a onclick="ChangePagePrev()" id="previous">&raquo;Previous</a>
	<a onclick="ChangePageNext()" id="next">Next &raquo;</a>
	<div id = "content">
		<img id="img" src="%%MFR_IMAGE%%" alt="%%MFR_ALT_TEXT%%" width="500"/>
		<h1 id = "Title">%%TITLE%%</h1>
		<h2 id = "year"> %%YEAR%% </h2>
		<div class="table-scroll">
			<table class ="hover">
				<thead>
					%%TABLE_HEADER%%
				</thead>
				<tbody>
					%%BIRTH_INFO%%
				</tbody>
				
			</table>
			<canvas id="myChart" width="400" height="400"></canvas>
			<script>
				const ctx = document.getElementById('myChart').getContext('2d');
				const myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: [%%label_list%%],
						datasets: [{
							label: '# of births',
							data: [%%data_list%%],
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)'
							],
							borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)'
							],
							borderWidth: 1
						}]
					},
					options: {
						scales: {
							y: {
								beginAtZero: true
							}
						}
					}
				});
			</script>
		</div>

	</div>


</body>


</html>